@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(4px); */
  font-family: 'Muli', 'sans-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.big-box {
  background-color: rgba(70, 130, 180, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.form-box {
  color: #fff;
}

.form-box h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-box a {
  text-decoration: none;
  color: plum;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: plum;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.btn:focus {
  background-color: white;
  color: plum;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 20px;
  padding-left: 5px;
}

.label {
  padding: 5px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px white solid;
  display: block;
  width: 100%;
  padding: 15px 5px;
  font-size: 18px;
  color: white;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
}
